[DEFAULT]
bantime = 3600
findtime = 600
maxretry = 3
allowipv6 = auto
ignoreip = {{ fail2ban_ignore_ips | join(' ') }}
action = nftables-multiport[name=sshd, port=ssh, protocol=tcp]
sender = zeshan.haider@ibex.co
mta = mail

[sshd]
enabled = true
port = ssh
filter = sshd
backend = systemd
maxretry = 10

[recidive]
enabled = true
logpath = /var/log/fail2ban.log
bantime = 1w
findtime = 1d
maxretry = 5

