# SSH access IPs
set allowed_ssh_ips {
    type ipv4_addr;
    flags interval;
    elements = {
{%- for group, ip_list in nft_allowed_ssh_ips.items() %}
        # {{ group | replace("_", " ") }}
        {{ ip_list | join(',\n        ') }}{{ "," if not loop.last else "" }}
{%- endfor %}
    };
    comment "SSH allowed IPs";
}
